@import "variables";
@import "helpers";

/* General component styles */
body {
  background-color: #FFFFFF;
  color: $primary-black;
}

body, h1, h2, h3, h4, h5, button, input {
  font-family: 'Roboto', sans-serif !important;
}
